
<div class="container">
    <div class="form-control">
     <h3>Login</h3>
     <form action="/employee/create-session" method="post">
          <input type="text" name="email" placeholder="Enter your username"> <br>                   
          <input type="password" name="password" placeholder="Enter your password"><br>
          <label for="role">Role</label>:
          <input type="radio" name="role" value="employee">
          <label for="html">Employee</label>
          <input type="radio" name="role" value="admin">
          <label for="html">Admin</label><br><br>  
          <button type="submit">Sign In</button>                       
     </form>
    </div> 
</div> 